body{
    margin: 0;
    text-align: center;
}
h1{
    margin: 0;
}
div{
    background-color: rgb(230, 132, 245);
}
.middle_container{
    height: 200px;
    width: 200px;
    background-color: red;
}
.bottom_container{
    height: 200px;
    width: 200px;
    background-color: blue;
}