body{
    margin: 0;
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    /* font-size: 200%; */
    /* font-family: 'Kavoon', cursive;
    font-family: 'MedievalSharp', cursive;
    font-family: 'Patrick Hand SC', cursive;
    font-family: 'Sniglet', cursive; */
}
h1{
    margin: 40px auto 0 auto;
    font-size: 3.5rem;
    color: #78a979;
    line-height:1.5;
}
h2{
    font-size: 2rem;
    color: #78a979;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #78a979;
}
a{
    color: #18531a;
    margin: 0 30px;
    text-decoration: none;
}
a:hover{
    color: #d1f6d2;
}
.top_container{
    background-color:rgb(215 243 215);
    padding-top: 100px;
}
.middle_container{
    margin: 100px auto;
}
.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    /* bottom: 300px; */
}
.skill-row{
    width: 50%;
    margin: 60px auto;
    text-align: left;
}
p{
    line-height: 2;
}
.code-img{
    width: 20%;
    float: left;
    margin-right: 50px;
}
.chilli-img{
    width: 20%;
    float: right;
    margin-left: 50px;
}
.profile-pic{
    width: 15%;
}
.intro-description{
    width: 30%;
    margin: auto;
}
hr{
    border: 6px dotted #d6dada;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.contact-me{
    width: 40%;
    margin: 50px auto 55px;
}

.btn {
    background: #78a979;
    background-image: -webkit-linear-gradient(top, #78a979, #78a979);
    background-image: -moz-linear-gradient(top, #78a979, #78a979);
    background-image: -ms-linear-gradient(top, #78a979, #78a979);
    background-image: -o-linear-gradient(top, #78a979, #78a979);
    background-image: linear-gradient(to bottom, #78a979, #78a979);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family:'Fuzzy Bubbles', cursive;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #93b894;
    background-image: -webkit-linear-gradient(top, #93b894, #93b894);
    background-image: -moz-linear-gradient(top, #93b894, #93b894);
    background-image: -ms-linear-gradient(top, #93b894, #93b894);
    background-image: -o-linear-gradient(top, #93b894, #93b894);
    background-image: linear-gradient(to bottom, #93b894, #93b894);
    text-decoration: none;
  }

.bottom_container{
    background-color: #78a979;
    padding: 40px 0 15px;
}
.copyright{
    color: #dff5de;
}